.about {
  width: 100%;
  min-height: 100vh;

  padding: 100px 5%;

  background: #111827;

  display: flex;
  justify-content: center;
  align-items: center;
}

.about-container {
  max-width: 1200px;

  text-align: center;
}

.about-container h2 {
  font-size: 4rem;

  color: #00d9ff;

  margin-bottom: 30px;
}

.about-container p {
  color: #cbd5e1;

  font-size: 1.1rem;

  line-height: 2;

  margin-bottom: 20px;
}

.about-cards {
  margin-top: 50px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 30px;
}

.about-card {
  background: #1f2937;

  padding: 40px 20px;

  border-radius: 20px;

  transition: 0.3s;
}

.about-card:hover {
  transform: translateY(-10px);
}

.about-card h3 {
  color: #00d9ff;

  margin-bottom: 15px;
}
