.footer {
  width: 100%;

  padding: 40px 5%;

  background: #0f172a;

  text-align: center;

  color: white;
}

.footer h3 {
  margin-bottom: 10px;

  color: #00d9ff;
}

.footer p {
  color: #cbd5e1;

  margin-bottom: 25px;
}

/* ICONS */

.footer-icons {
  display: flex;

  justify-content: center;

  gap: 25px;
}

.footer-icons a {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background: rgba(255, 255, 255, 0.05);

  border: 1px solid rgba(255, 255, 255, 0.1);

  color: #00d9ff;

  font-size: 1.5rem;

  transition: 0.3s;

  backdrop-filter: blur(10px);
}

.footer-icons a:hover {
  transform: translateY(-8px) scale(1.1);

  box-shadow: 0 0 25px rgba(0, 217, 255, 0.7);

  background: #00d9ff;

  color: black;
}
